body {
   background: linear-gradient(to bottom, rgb(48, 48, 48), rgb(227, 227, 227));
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   overflow: hidden;

}

#direct {
    position: absolute;
    top: 480px;
    left: 320px;
    color: rgb(0, 0, 0);
}

#status {
    position: absolute;
    top: 240px;
    left: 100px;
    background-color: white;
}

#signin {
    position: absolute;
    left: 300px;
    top: 470px;
}

#login {
position: absolute;
top: -60px;
left: 170px;
font-size: 100px;


}

#button {
    position: absolute;
    top: 355px;
    left: 190px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

#verify {
    position: absolute;
    top: 555px;
    left: 190px;
    height: 30px;
    border-radius: 20px;
    background-color: pink;
}

#verification {
    left: 32px;
    top: 490px;
    position: absolute;

}


#email {
    left: 30px;
    top: 290px;
    position: absolute;
}

#password {
    left: 20px;
    top: 390px;
    position: absolute;
}

#headertext {
    position: absolute;
    font-size: 30px;
    color: white;
    z-index: 5;
}


#chicken {
    position: absolute;
    font-size: 100px;
    
}

#square {
   position: fixed;
   height: 650px;
   width: 600px;
   background: linear-gradient(to bottom, rgb(57, 57, 57), rgb(250, 250, 250));
   border-radius: 20px;
   top: 30px;
}

#inputverification {
    position: absolute;
    top: 500px;
    left: 90px;
    height: 40px;
    width: 290px;
     font-size: 20px;
}

#inputemail {
    position: absolute;
    top: 300px;
    left: 90px;
    height: 40px;
    width: 290px;
    font-size: 20px;

}

#inputpassword {
    position: absolute;
    top: 400px;
    left: 90px;
    height: 40px;
    width: 290px;
     font-size: 20px;
}