body {
    background-color: rgb(159, 155, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#left {
    position: fixed;
    height: 747px;
    width: 650px;
    background-color: rgb(243, 139, 234);
    left: 8px;
    top: 2px;
    border-radius: 20px;
}

#status {
    position: absolute;
    top: 250px;
    left: 150px;
    background-color: white;
}

#email {
    position: absolute;
    top: 330px;
    left: 60px;
    font-size: 30px;
}

#back {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 40px;
    width: 70px;
    border: 1px solid black;
    background-color: pink;
}

#inputemail {
    position: absolute;
    top: 350px;
    left: 140px;
    height: 40px;
    width: 300px;

}

#button {
    position: absolute;
    top: 350px;
    left: 490px;
    height: 40px;
    width: 40px;
    font-size: 30px;
}

#right {
    position: fixed;
    height: 747px;
    width: 800px;
    background-color: rgb(255, 220, 115);
    margin-left: 665px;
    top: 2px;
    border-radius: 20px;

}